### 구글 드라이브 마운트

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

### 문제 1
‘students.txt’ 파일을 읽어서 딕셔너리로 학생들의 정보를 저장하라.  
해당 파일은 이름, 국어점수, 영어점수, 수학점수 순으로 되어있으며, 각 컬럼의 구분자는 tab(\t)으로 이루어져있다.  
이름을 key로 하고, 국어점수, 영어점수, 수학점수를 순서대로 담은 리스트를 value로 하는 딕셔너리로 저장하라.

+ read 이용

In [0]:
students = {}

In [5]:
with open('./drive/My Drive/Colab Notebooks/python/toy_data/students.txt', 'r') as f :
    data = f.read()
    print(data)
    lines = data.split('\n')
    print(lines)
    for stu in lines :
        s = stu.split('\t')
        students[s[0]] = s[1:]

홍길동	50	70	65
홍계월	80	90	100
뽀로로	83	92	86
펭수	95	100	97
뚝딱이	77	72	87
['홍길동\t50\t70\t65', '홍계월\t80\t90\t100', '뽀로로\t83\t92\t86', '펭수\t95\t100\t97', '뚝딱이\t77\t72\t87']

In [0]:
students

{'홍길동': ['50', '70', '65'],
 '홍계월': ['80', '90', '100'],
 '뽀로로': ['83', '92', '86'],
 '펭수': ['95', '100', '97'],
 '뚝딱이': ['77', '72', '87']}

+ readlines 이용

In [0]:
students2 = {}

In [0]:
with open('./drive/Mydrive/Colab Notebooks/python/toy_data/students.txt', 'r') as f :
    data = f.readlines()
    for d in data :
        line = d.split('\t')
        line[3] = line[3].split('\n')[0]
        students2[line[0]] = line[1:]

print(students2)

{'홍길동': ['50', '70', '65'], '홍계월': ['80', '90', '100'], '뽀로로': ['83', '92', '86'], '펭수': ['95', '100', '97'], '뚝딱이': ['77', '72', '87']}

### 문제 2
저장한 딕셔너리를 토대로 학생들의 평균을 구하라.  
전체 학생의 국어, 영어, 수학 점수의 평균을 구해서 각각 kor, eng, math라는 변수에 저장하고, 소수점 첫째자리까지 출력하라.

In [0]:
kor = 0
eng = 0
math = 0

In [0]:
for v in students.values():
    kor += int(v[0])
    eng += int(v[1])
    math += int(v[2])

kor /= len(students)
eng /= len(students)
math /= len(students)

In [0]:
print('학생들의 평균은 아래와 같습니다.')
print('국어 : %0.1f' %kor)
print('영어 : %0.1f' %eng)
print('수학 : %0.1f' %math)

학생들의 평균은 아래와 같습니다.
국어 : 77.0
영어 : 84.8
수학 : 87.0

### 문제 3

학생들 개개인의 평균을 구하는 함수를 작성하라.  
이름을 넣으면 국어, 영어, 수학 3과목의 평균을 계산하여 반환하는 함수를 작성하라.

In [0]:
def cal_average(name) :
    scores = students[name]
    avg = 0
    for s in scores :
        avg += int(s)
    return avg / 3

In [0]:
cal_average('펭수')

97.33333333333333